/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
    box-sizing: border-box;
}


.share-tech-mono-regular {
	font-family: "Share Tech Mono", monospace;
	font-weight: 400;
	font-style: normal;
  }
  

  
html {
	margin: 0;
	padding: 0;
	height: 100%;

	--test:	rgb(179, 181, 178, 0.8);
	--test-trans : rgb(179, 181, 178, 0.5);
	--test-background: rgb(179, 181, 178, 0.3);

	--cell-border: rgb(46, 46, 46);

	--border-color: rgb(46, 46, 46, 0.8); 

	color: rgb(46, 46, 46);
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 100vh;
	position: relative; /* necessario per il posizionamento assoluto figlio */
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.ship {
	background-color: #6d757a;
	border: 1px solid #2e2e2e;
	box-shadow: inset 0 0 3px #000000aa;
}

main {
    display: flex;
	justify-content: space-between;
    margin: auto;
	height: 60%;
	width: 90%;
}

.gameboard {
	box-sizing: border-box;
    width: 500px;
	height: 500px;
	border: 3px solid var(--border-color);
	background-color: var(--test);
}

.row {
	width: 100%;
	height: 10%;
	display: flex;
}

.col {
    width: 50px;
    height: 100%;
	border: 1px solid var(--cell-border);
	box-sizing: border-box;
}

.hit {
	background-color: rgb(122, 63, 44);
}

#game-over-dialog:not([open]) {
	display: none;
}

#timeout-dialog:not([open]) {
	display: none;
}

#initial-dialog:not([open]) {
	display: none;
}

#game-over-dialog, #timeout-dialog, #initial-dialog {
	width: 20%;
	height: 30%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	background-color: var(--test);
}

#game-over-dialog h3 {
	font-size: 1.6rem;
	font-weight: 800;
}

#game-over-dialog p {
	font-size: 1.4rem;
}

dialog::backdrop {
	background: url('./assets/images/battleship.webp') center center / cover no-repeat;
  }
  

#play-again-button {
	width: 70%;
	margin-left: 15%;
}

.miss {
	background-color: rgb(55, 83, 104);
}

#header {
	width: 20%;
	height: 20%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

#turn-board {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--test-trans);
	border: 2px solid var(--border-color);
}

#turn-board h3 {
	font-size: 1.6rem;
	font-weight: 800;
}

#turn-board p {
	font-size: 2rem;
}

#timeout-dialog {
	align-items: center;
}

#timeout-dialog h3 {
	font-size: 1.4rem;
}

#counter {
	background-color: grey;
	width: 50px;
	font-size: 2rem;
	border-radius: 50%;
}

#choose-player-names {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name-element {
	display: flex;
	justify-content: space-between;
}

#background-image {
    position: fixed; /* meglio di absolute per i background */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    display: block; /* evita problemi da comportamento inline */
}


#game {
	z-index: 1;
	background-color: var(--test-background);
	height: 100%;
	padding-top: 20px;
}

.first-row, .second-row {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-around;
}
  
.fleet-manager {
	width: 15%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--test-trans);
	border: 2px solid var(--border-color);
	padding: 10px;
}

.ship-container {
	display: flex;
	flex-direction: column;
}

.ship-on-board {
	background-color: #6d757a;
	border: 1px solid #2e2e2e;
	box-shadow: inset 0 0 3px #000000aa;
	height: 30px;
	width: 30px;
}

.ships {
	display: flex;
	justify-content: space-around;
	height: 80%;
}

.row-orientation {
	flex-direction: row;
}

.column-orientation {
	flex-direction: column;
}

.container-row {
	flex-direction: row;
}

.container-column {
	flex-direction: column;
}